[submodule "frontend"]
	path = frontend
	url = git@github.com:HegarGarcia/iot_alarm_frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:HegarGarcia/iot_alarm_backend.git
[submodule "iot"]
	path = iot
	url = git@github.com:HegarGarcia/iot_alarm_iot.git
